{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended",
    "eslint:recommended",
    "prettier/standard",
    "plugin:react/recommended",
    "plugin:compat/recommended",
    "plugin:cypress/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "env": {
    "es6": true,
    "jest": true,
    "browser": true,
    "node": true,
    "jquery": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "react",
    "react-hooks",
    "jsx-a11y",
    "prettier",
    "compat",
    "html",
    "jest",
    "prettier",
    "react-hooks",
    "import"
  ],
  "rules": {
    "semi": 2,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "singleQuote": true,
        "printWidth": 80,
        "semi": true,
        "jsxBracketSameLine": true,
        "usePrettierrc": true,
        "parser": "flow",
        "arrowParens": "always",
        "tabWidth": 2
      }
    ],
    "no-console": "off",
    "react/prop-types": 0,
    "global-require": 0,
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "import/no-unresolved": [2, { "caseSensitive": false }],
    "no-unused-vars": 0,
    "no-shadow": "off",
    "no-restricted-syntax": [
      2,
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "no-nested-ternary": 0,
    "no-underscore-dangle": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "no-return-assign": ["error", "except-parens"],
    "no-process-env": "off",
    "class-methods-use-this": "off",
    "react/self-closing-comp": "off",
     "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
  }
}
